.container {
  top: 50%;
  left: 50%;
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.clockCircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.ticks {
  width: 2px;
  position: absolute;
  transform-origin: top;
}

.majorTicks {
  height: 8%;
}

.minorTicks {
  height: 4%;
}

.clockTextCircle {
  top: 11%;
  left: 11%;
  width: 78%;
  height: 78%;
  position: absolute;
  border-radius: 50%;
}

.clockText {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hands {
  left: 50%;
  width: 2px;
  position: absolute;
  transform-origin: bottom;
}

.secondHand {
  height: 50%;
}

.minuteHand {
  top: 10%;
  height: 40%;
}

.hourHand {
  top: 20%;
  height: 30%;
}